   
body {
    margin: 0;
    padding: 0;
    /* Ảnh nền của trang thứ 2 nếu bạn muốn thay đổi thì nó tại đây */
    background-image: url("../img/9SHW2XH.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 14px;
    font-family: "sans-serif", "sans-serif", sans-serif;
    color: #660086;
    overflow: auto;
}
a {
    color: #00ff45;
    font-size: 14px;
    text-decoration: none;
}
#main {
    width: 100%;
}
#wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 680px;
    margin-top: 10px;
}
#text {
    width: 400px;
    height: 425px;
    left: 60px;
    top: 80px;
    position: absolute;
}
#code {
    display: none;
    font-size: 24px;
}
#clock-box {
    position: absolute;
    left: 60px;
    top: 550px;
    font-size: 28px;
    display: none;
}
#clock-box a {
    font-size: 28px;
    text-decoration: none;
}
#clock {
    margin-left: 48px;
}
#clock .digit {
    font-size: 64px;
}
#canvas {
    margin: 0 auto;
    width: 1100px;
    height: 680px;
}
#error {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    display: none;
}
.hand {
    cursor: pointer;
}
#code {
    width: 500px;
    color: #3b6900;
    font-family: cursive;
}
.space {
    margin-right: 150px;
}
}
#code {
    width: 500px;
    color: #3b6900;
    font-family: cursive;
}
.space {
    margin-right: 150px;
}

.btn-bir:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-bir {
    background-image: linear-gradient(
        to right,
        #314755 0%,
        #26a0da 51%,
        #314755 100%
    );
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-timeline {
    background-image: linear-gradient(
        to right,
        #da22ff 0%,
        #9733ee 51%,
        #da22ff 100%
    );
}
.btn-timeline {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-timeline:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}

.btn-gallery {
    background-image: linear-gradient(
        to right,
        #02aab0 0%,
        #00cdac 51%,
        #02aab0 100%
    );
}
.btn-gallery {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-gallery:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.cover {
    width: 240px;
    height: 240px;
   
    box-shadow: 0 0 30px #eee;
    position: absolute;
    margin-top: 3rem;
    left: calc(50% - 100px);
  
    border-radius: 120px;
    border: 5px solid rgb(255, 17, 0);
}
